<?xml version="1.0" encoding="UTF-8"?>

<!--  마이바티스 3 매퍼 Doctype -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--  매퍼 설정 -->
<mapper namespace="web.dao.face.AdvertiseDao">
<sql id="selectAdvertise">
SELECT b.findNo 
     , a.bandName
     , b.title
     , b.content
     , b.writtendate 
     , B.positionNo
     , CASE WHEN b.positionNo = '1' THEN '보컬'
             WHEN B.positionNo = '2' THEN '기타'
             WHEN B.positionNo = '3' THEN '드러머'
            ELSE '콜라보'
             END position
     , b.adsno
     , CASE WHEN B.adsNo = '1' THEN '맴버'
         ELSE '콜라보'
         END ADS
FROM BAND A , FINDMEMBER B 
WHERE a.bandNo = b.bandNo
  <if test="adsNo != null and adsNo != '' ">
	 AND b.adsNo = #{adsNo}
	 </if>
</sql>
<select id="selectPagingList" resultType="web.dto.FindMember" parameterType="web.utils.Paging">
SELECT * FROM ( SELECT rownum rnum, B.* FROM (
<include refid="selectAdvertise"/>
)
B ORDER BY findNo DESC ) R WHERE R.rnum BETWEEN #{startNo } AND #{endNo } ORDER BY rnum
</select>
<select id="selectAdvertiseCntAll" resultType="int">
SELECT COUNT(*) CNT FROM (
	SELECT b.findNo 
	     , a.bandName
	     , b.title
	     , b.content
	     , b.writtendate
	     , B.positionNo
	     , CASE WHEN b.positionNo = '1' THEN '보컬'
	             WHEN B.positionNo = '2' THEN '기타'
	             WHEN B.positionNo = '3' THEN '드러머'
	            ELSE '콜라보'
	             END position
	     , b.adsno
	     , CASE WHEN B.adsNo = '1' THEN '맴버'
	         ELSE '콜라보'
	         END ads
	FROM BAND A , FINDMEMBER B 
	WHERE a.bandNo = b.bandNo
 	  <if test="adsNo != null and adsNo != '' "> 
	 AND b.adsNo = #{adsNo}
	 </if> 
) CNT
</select>
<select id="selectProfilePic">
	SELECT * FROM ProfilePic WHERE profileNo = #{profileNo};

</select>

<select id="selectAdvertise" parameterType="int" resultType="web.dto.FindMember">
	SELECT findNo, bandNo, positionNo, title, content, writtenDate, genre, musicNo, adsNo,
		CASE WHEN positionNo = '1' THEN '보컬'
			WHEN positionNo = '2' THEN '기타'
			WHEN positionNo = '3' THEN '드러머'
		ELSE '콜라보'
		END position
	 FROM findMember
	 WHERE findNo = #{findNo}
</select>

<select id="getPicNo" parameterType="String" resultType="int">
	SELECT profileNo
	FROM band
	WHERE bandNo = #{bandNo}
</select>

<select id="getProPic" parameterType="int" resultType="web.dto.ProfilePic">
	SELECT profileNo, path, originName, storedName
	FROM profilePic
	WHERE profileNo = #{profileNo }
</select>

<select id="getBMember" parameterType="String" resultType="web.dto.BandMember">
	SELECT bandMemberNo, bandMemName, mPosition, bandNo
	FROM bandMember
	WHERE bandNo = #{bandNo}
</select>

<select id="getGenre" parameterType="String" resultType="web.dto.BandGenre">
	SELECT bandNo, genreNo
	FROM bandGenre
	WHERE bandNo = #{bandNo}
</select>
<select id="allGenre" resultType="web.dto.Genre">
	SELECT *
	FROM genre
</select>
</mapper>