<?xml version="1.0" encoding="UTF-8"?>

<!--  마이바티스 3 매퍼 Doctype -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--  매퍼 설정 -->
<mapper namespace="web.dao.face.AdvertiseDao">
<sql id="selectAdvertise">
SELECT b.findNo 
     , a.bandName
     , b.title
     , b.content
     , b.writtendate 
     , B.positionNo
     , CASE WHEN b.positionNo = '1' THEN '보컬'
             WHEN B.positionNo = '2' THEN '기타'
             WHEN B.positionNo = '3' THEN '드러머'
            ELSE '콜라보'
             END position
     , b.adsno
     , CASE WHEN B.adsNo = '1' THEN '맴버'
         ELSE '콜라보'
         END ADS
     ,c.genreName    
FROM  FINDMEMBER B , Band A , genre C
WHERE a.bandNo = b.bandNo
<if test="search != null and search != '' and searchVal == ('title')"> 
	AND title LIKE '%' || #{search} || '%'
</if>
<if test="search != null and search != '' and searchVal == ('content')">
	AND content LIKE '%' || #{search} || '%'
</if>
<if test="search != null and search != '' and searchVal == ('userId')">
	AND userId LIKE '%' || #{search} || '%'
</if>
	AND c.genreNo = b.genre
  <if test="adsNo != null and adsNo != '' ">
	 AND b.adsNo = #{adsNo}
	 </if>
	 ORDER BY findNo DESC
</sql>
<select id="selectPagingList" resultType="web.dto.FindMember" parameterType="web.utils.Paging">
SELECT * FROM ( SELECT rownum rnum, B.* FROM (
<include refid="selectAdvertise"/>
)
B ORDER BY rnum DESC ) R WHERE R.rnum BETWEEN #{startNo } AND #{endNo } ORDER BY rnum
</select>
<select id="selectAdvertiseCntAll" resultType="int">
SELECT COUNT(*) CNT FROM (
	SELECT b.findNo 
	     , a.bandName
	     , b.title
	     , b.content
	     , b.writtendate
	     , B.positionNo
	     , CASE WHEN b.positionNo = '1' THEN '보컬'
	             WHEN B.positionNo = '2' THEN '기타'
	             WHEN B.positionNo = '3' THEN '드러머'
	            ELSE '콜라보'
	             END position
	     , b.adsno
	     , CASE WHEN B.adsNo = '1' THEN '맴버'
	         ELSE '콜라보'
	         END ads
	     , a.profileNo
	     , c.profileNo
	     , c.path
	     , c.ORIGINNAME
	     , c.STOREDNAME
	FROM BAND A , FINDMEMBER B , ProfilePic c
	WHERE a.bandNo = b.bandNo
	AND a.profileNo = c.profileNo
 	  <if test="adsNo != null and adsNo != '' "> 
	 AND b.adsNo = #{adsNo}
	 </if> 
) CNT
</select>
<select id="selectProfilePic">
	SELECT * FROM ProfilePic WHERE profileNo = #{profileNo};

</select>

<select id="selectAdvertise" parameterType="String" resultType="web.dto.FindMember">
		SELECT * FROM findmember WHERE findNo = #{findNo}
</select>

<select id="getPicNo" parameterType="String" resultType="int">
	SELECT profileNo
	FROM band
	WHERE bandNo = #{bandNo}
</select>

<select id="getProPic" parameterType="int" resultType="web.dto.ProfilePic">
	SELECT profileNo, path, originName, storedName
	FROM profilePic
	WHERE profileNo = #{profileNo }
</select>

<select id="getBMember" parameterType="String" resultType="web.dto.BandMember">
	SELECT bandMemberNo, bandMemName, mPosition, bandNo
	FROM bandMember
	WHERE bandNo = #{bandNo}
</select>

<select id="getGenreName" parameterType="String" resultType="web.dto.Genre">
	SELECT genreNo , genreName
	FROM Genre
	WHERE genreNo = #{genreNo}
</select>
<select id="allGenre" resultType="web.dto.Genre">
	SELECT *
	FROM genre
</select>
<select id="getGenreNo" resultType="String">
	SELECT * FROM genre
	WHERE genreNo = #{genreNo}
</select>

<select id="getBandNo" resultType="String">
	SELECT * FROM Band WHERE bandNo = #{bandNo}
</select>

<select id="getBandName" parameterType="String" resultType="web.dto.Band">
	SELECT bandNo , bandName
	FROM band
	WHERE bandNo = #{bandNo}
</select>

<select id="getMemberUserId" resultType="String">
	SELECT userId , bandName ,bandNo
	FROM band
	WHERE bandNo = #{bandNo}
</select>

<select id="getMemberContact" parameterType="String" resultType="web.dto.Member">
 SELECT userId , contact , userName
 FROM Member
 WHERE userId = #{userId}
</select>

<select id="getBand" resultType="String">
 SELECT * FROM BAND WHERE bandNo = #{bandNo}
</select>

<select id="getProfile" resultType="int">
SELECT * FROM profilepic WHERE profileNo = #{profileNo}
</select>

<select id="getPositionNo" resultType="String">
SELECT * FROM part WHERE positionNo = #{positionNo}
</select>

<select id="getPtitle" parameterType="String" resultType="web.dto.Part">
	SELECT positionNo , pTitle FROM part WHERE positionNo = #{postionNo}
</select>

<insert id="insertAdvertise" parameterType="web.dto.FindMember">
	<selectKey keyProperty="faqNo" resultType="int" order="BEFORE">
		SELECT faq_seq.nextval FROM DUAL
	</selectKey>
		INSERT INTO findmember 
		( findNo , bandno , positionno , title , contente , WRITTENDATE , genre  ,musicno , adsno)
		VALUE(#{findNo} , #{bandNo} , #{positionNo} , #{title} , #{content} , sysdate , #{genre} , #{musicNo} , #{adsNo})
</insert>

<update id="updateAdvertise" parameterType="web.dto.FindMember">
	UPDATE findmember SET positionNo = #{positionNo} 
						, content=#{content} , title=#{title} , genre=#{genre},
						adsNo=#{adsNo}
						WHERE findNo = #{findNo} AND bandNo=#{bandNo}
</update>
<delete id="deleteAdvertise" parameterType="web.dto.FindMember">
	DELETE FROM findmember WHERE findNo = #{findNo}
</delete>

</mapper>