<?xml version="1.0" encoding="UTF-8"?>
<!--  마이바티스 3 매퍼 Doctype -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--  매퍼 설정 -->
<mapper namespace="web.dao.face.BandDao">
	<select id="getList" resultType="web.dto.Band">
		SELECT bandNo, bandName, userId, profileNo
		FROM band
	</select>
	
	<sql id="getBandNo">
		SELECT bandNo
		FROM bandGenre
		WHERE GenreNo = #{genre }
	</sql>
	
	<select id="getByCate" parameterType="String" resultType="web.dto.Band">
		SELECT bandNo, bandName, userId, profileNo
		FROM band
		WHERE bandNo = 
			<include refid="getBandNo" />
	</select>
	
	<select id="getProPic" resultType="web.dto.ProfilePic">
		SELECT ProfileNo, path, OriginName, StoredName
		FROM profilePic
		ORDER BY profileNo
	</select>
</mapper>