<?xml version="1.0" encoding="UTF-8"?>
<!--  마이바티스 3 매퍼 Doctype -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--  매퍼 설정 -->
<mapper namespace="web.dao.face.BandDao">

	<select id="getList" resultType="web.dto.Band">
		SELECT bandNo, bandName, b.userId, profileNo
		FROM band b, (SELECT userID FROM member WHERE roleId=2) m
		WHERE b.userId = m.userId
	</select>
	
	<select id="getProPic" resultType="web.dto.ProfilePic">
		SELECT p.ProfileNo, path, OriginName, StoredName
		FROM profilePic p, band b
		WHERE p.profileNo = b.profileNo
		ORDER BY profileNo
	</select>
	
	<sql id="getbandNo">
		SELECT bandNo
		FROM bandGenre
		WHERE GenreNo = #{genre }
		GROUP BY bandNo
	</sql>
	
	<select id="getByCate" parameterType="String" resultType="web.dto.Band">
		SELECT b.bandNo, bandName, userId, profileNo
		FROM band b, (<include refid="getbandNo" />) bn
		WHERE b.bandNo = bn.bandNo
	</select>
	
	<sql id="getProPic">
		SELECT b. bandNo, b. profileNo
		FROM band b, (<include refid="getbandNo" />) bn
		WHERE b.bandNo = bn.bandNo
	</sql>
	
	<select id="getProPicByCate" parameterType="String" resultType="web.dto.ProfilePic">
		SELECT p.ProfileNo, path, OriginName, StoredName
		FROM profilePic p, (<include refid="getProPic" />) bn
		WHERE p.profileNo = bn.profileNo
	</select>
	
	<select id="getInfo" parameterType="int" resultType="web.dto.Resumes">
		SELECT BandInfo, bandNo, musicNo, publicResumes, resumesNo, resumesTitle
		FROM Resumes
		WHERE bandNo = #{bandNo } AND 
				publicResumes = 1
	</select>
	
	<select id="getMember" parameterType="int" resultType="web.dto.BandMember">
		SELECT bandMemberNo, mPosition, bandMemName, bandNo
		FROM bandMember
		WHERE bandNo = #{bandNo }
		ORDER BY bandMemberNo
	</select>
	
	
</mapper>