<?xml version="1.0" encoding="UTF-8"?>
<!--  마이바티스 3 매퍼 Doctype -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--  매퍼 설정 -->
<mapper namespace="web.dao.face.BandDao">

	<!-- 밴드 전체목록 -->
	
	<sql id="getBands">
		(SELECT bandNo, bandName, b.userId, profileNo
    	FROM band b, ( SELECT userId from member WHERE roleId = 2 ) m
    	WHERE b.userId = m.userId
    	ORDER BY profileNo) c
	</sql>
	
	<sql id="chkResumes">
		SELECT c.bandNo, bandName, userId, profileNo
		FROM resumes r, <include refid="getBands" />
		WHERE publicresumes = 1 AND
        r.bandNo = c.bandNo
	</sql>
	
	<select id="getList" parameterType="web.utils.AddItems" resultType="web.dto.Band">
		SELECT * FROM (
	    	SELECT rownum rnum, A.* FROM (
        		<include refid="chkResumes" />
        	) A
    		ORDER BY rnum
    	)
		WHERE rnum between #{startNo } AND #{endNo }
	</select>
	
	<select id="getProPic" parameterType="web.utils.AddItems" resultType="web.dto.ProfilePic">
		SELECT * FROM (
    		SELECT rownum rnum, A.* FROM (	
        		SELECT p.ProfileNo, path, OriginName, StoredName
        		FROM profilePic p, (<include refid="chkResumes" />) d
        		WHERE p.profileNo = d.profileNo
        	) A
    		ORDER BY rnum
    	)
		WHERE rnum between #{startNo } AND #{endNo }
	</select>
	
	
	<!-- 카테고리로 조회하기 -->
	<sql id="getbandNo">
		SELECT bandNo
		FROM bandGenre
		WHERE GenreNo = #{genre }
		GROUP BY bandNo
		ORDER BY bandNo
	</sql>
	
	<select id="getByCate" resultType="web.dto.Band">		
		SELECT d.bandNo, bandName, userId, profileNo
		FROM (
			SELECT c.bandNo, bandName, userId, profileNo
			FROM resumes r, <include refid="getBands" />
        	WHERE publicresumes = 1 AND
        	r.bandNo = c.bandNo) d, (<include refid="getbandNo" />) e
		WHERE d.bandNo = e.bandNo
	</select>
	
	<sql id="getProPic">
		SELECT b. bandNo, b. profileNo
		FROM band b, (<include refid="getbandNo" />) bn
		WHERE b.bandNo = bn.bandNo
	</sql>
	
	
	
	<!-- 장르로 보는 리스트의 사진 쿼리 수정해야함... -->
	
	<select id="getProPicByCate" resultType="web.dto.ProfilePic">
		SELECT * FROM (
    		SELECT rownum rnum, A.* FROM (	
        		SELECT p.ProfileNo, path, OriginName, StoredName
        		FROM profilePic p, (<include refid="getProPic" />) b
        		WHERE p.profileNo = b.profileNo
        	) A
    		ORDER BY rnum
    	)
		WHERE rnum between #{addItems.startNo } AND #{addItems.endNo }
	</select>
	
	
	<!-- 더보기 -->
	<select id="getCount" resultType="int">
		SELECT COUNT(*) FROM band
	</select>
	
	
	<!-- view Page -->
	<select id="getBand" parameterType="int" resultType="web.dto.Band">
		SELECT bandNo, bandName, profileNo
		FROM band
		WHERE bandNo = #{bandNo }
	</select>
	
	<select id="getPic" parameterType="int" resultType="web.dto.ProfilePic">
		SELECT profileNo, path, originName, storedName
		FROM profilePic
		WHERE profileNo = #{proNo }
	</select>
	
	<select id="getInfo" parameterType="int" resultType="web.dto.Resumes">
		SELECT BandInfo, bandNo, musicNo, publicResumes, resumesNo, resumesTitle
		FROM Resumes
		WHERE bandNo = #{bandNo } AND 
				publicResumes = 1
	</select>
	
	<select id="getMusic" >
		SELECT musicNo, musicTitle, path
		FROM music
		WHERE musicNo = #{musicNo } 
	</select>
	
	<select id="getMember" parameterType="int" resultType="web.dto.BandMember">
		SELECT bandMemberNo, mPosition, bandMemName, bandNo
		FROM bandMember
		WHERE bandNo = #{bandNo }
		ORDER BY bandMemberNo
	</select>
	
</mapper>