<?xml version="1.0" encoding="UTF-8"?>

<!--  마이바티스 3 매퍼 Doctype -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--  매퍼 설정 -->
<mapper namespace="web.dao.face.BarDao">

	<select id="getBarList" parameterType="web.dto.Bar" resultType="web.dto.Bar">
		SELECT B.BARNO, B.BARNAME, B.USERID, B.PROFILENO, B.LOCATIONNO, B.BARINFO, B.MANAGER, B.CONTACT, B.BARADDRESS, B.GENRENO, P.PATH, P.ORIGINNAME, P.STOREDNAME
		FROM BAR B
		LEFT OUTER JOIN PROFILEPIC P ON B.PROFILENO = P.PROFILENO
		ORDER BY BARNO
	</select>
	
	<select id="getByLocation" parameterType="web.dto.Bar" resultType="web.dto.Bar">
	
	</select>
	
	<select id="getBarListMore" parameterType="web.dto.Bar" resultType="web.dto.Bar">
	
	</select>
	
	<select id="viewBar" parameterType="web.dto.Bar" resultType="web.dto.Bar">
		SELECT B.BARNO, B.BARNAME, B.USERID, B.PROFILENO, B.LOCATIONNO, B.BARINFO, B.MANAGER, B.CONTACT, B.BARADDRESS, B.GENRENO, P.PATH, P.ORIGINNAME, P.STOREDNAME, L.LOCATIONNAME, G.GENRENAME
	    FROM BAR B, PROFILEPIC P, LOCATION L, GENRE G
	    WHERE B.PROFILENO = P.PROFILENO
	        AND B.GENRENO = G.GENRENO
	        AND B.LOCATIONNO = L.LOCATIONNO
   		 ORDER BY BARNO
	</select>
	
	<select id="getLocation" parameterType="web.dto.Location" resultType="web.dto.Location">
	
	</select>
	
	<select id="getBarCalendar" parameterType="web.dto.Calendar" resultType="web.dto.Calendar">
	
	</select>
	
	<insert id="barRequest" parameterType="web.dto.Bar">
	
	</insert>
	
	<update id="updateBarInfo" parameterType="web.dto.Bar">
	
	</update>
	

</mapper>