<?xml version="1.0" encoding="UTF-8"?>

<!--  마이바티스 3 매퍼 Doctype -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--  매퍼 설정 -->
<mapper namespace="web.dao.face.BarDao">

	<sql id="getBar">
		SELECT B.BARNO, B.BARNAME, B.USERID, B.PROFILENO, B.LOCATIONNO, B.BARINFO, B.MANAGER, B.BARADDRESS, B.GENRENO, P.PATH, P.ORIGINNAME, P.STOREDNAME
		FROM BAR B
		LEFT OUTER JOIN PROFILEPIC P ON B.PROFILENO = P.PROFILENO
		ORDER BY BARNO 
	</sql>

	<select id="getBarList" parameterType="web.dto.Bar" resultType="web.dto.Bar">
		SELECT * FROM (
			SELECT rownum rnum, A.*FROM(
				<include refid="getBar"/>
			) A
			ORDER BY rnum
		)
<![CDATA[		
		WHERE rnum < 13
]]>
	</select>
	
	<select id="getByLocation" parameterType="java.util.List" resultType="web.dto.Bar">
		SELECT * FROM (
			SELECT rownum rnum, A.*FROM(
				SELECT L.LOCATIONNO, L.LOCATIONNAME, B.BARNO, B.BARNAME, B.USERID, B.PROFILENO, B.BARINFO, B.MANAGER, B.BARADDRESS, B.GENRENO, P.PATH, P.ORIGINNAME, P.STOREDNAME, G.GENRENAME
				FROM LOCATION L
				LEFT OUTER JOIN BAR B ON B.LOCATIONNO = L.LOCATIONNO
		        LEFT OUTER JOIN PROFILEPIC P ON P.PROFILENO = B.PROFILENO
		        LEFT OUTER JOIN GENRE G ON G.GENRENO = B.GENRENO
			        WHERE L.LOCATIONNO IN
			        <foreach collection="list" item="item" open="(" close=")" separator=",">
			        	#{item }
			        </foreach>
		       ) A
			ORDER BY rnum
		)
<![CDATA[		
		WHERE rnum < 13
]]>
	</select>
	
	<select id="getBarListMore" parameterType="web.dto.Bar" resultType="web.dto.Bar">
		SELECT * FROM (
			SELECT rownum rnum, A.*FROM(
				<include refid="getBar" />
			) A
			ORDER BY rnum
		)
		WHERE rnum between #{startNo } AND #{endNo }
	</select>
	
	<select id="viewBar" parameterType="web.dto.Bar" resultType="web.dto.Bar">
		SELECT B.BARNO, B.BARNAME, B.USERID, B.PROFILENO, B.LOCATIONNO, B.BARINFO, B.MANAGER, B.BARADDRESS, B.GENRENO, P.PATH, P.ORIGINNAME, P.STOREDNAME, L.LOCATIONNAME, G.GENRENAME, M.CONTACT
	    FROM BAR B, PROFILEPIC P, LOCATION L, GENRE G, MEMBER M
	    WHERE B.PROFILENO = P.PROFILENO
	        AND B.GENRENO = G.GENRENO
	        AND B.LOCATIONNO = L.LOCATIONNO 
	        AND M.USERID = B.USERID
	        AND B.BARNO = #{barNo }
	</select>
	
	<select id="getBarCalendar" parameterType="web.dto.CalendarD" resultType="web.dto.CalendarD">
	
	</select>
	
	<insert id="barRequest" parameterType="web.dto.Bar">
	
	</insert>
	
	<update id="updateBarInfo" parameterType="web.dto.Bar">
		UPDATE BAR SET BARINFO=#{barInfo }, manager=#{manager }
		WHERE BARNO=#{barNo }
	</update>
	
	<update id="updateMemberContact" parameterType="web.dto.Member">
		UPDATE MEMBER SET contact=#{contact }
		WHERE USERID=#{userId }
	</update>
	
	
	<select id="getProPic" resultType="web.dto.ProfilePic">
		SELECT ProfileNo, path, OriginName, StoredName
		FROM profilePic
		ORDER BY profileNo
	</select>
	

</mapper>