<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.FAQDao">

<sql id="selectFAQ">
SELECT faqNo, userId, question, answer, writtenDate FROM faq
<if test="search != null and search != '' and searchVal == ('question')"> 
	WHERE question LIKE '%' || #{search} || '%'
</if>
<if test="search != null and search != '' and searchVal == ('answer')">
	AND answer LIKE '%' || #{search} || '%'
</if>
<if test="search != null and search != '' and searchVal == ('userId')">
	AND userId LIKE '%' || #{search} || '%'
</if>
</sql>
<select id="selectPagingList" resultType="web.dto.FAQ" parameterType="web.utils.Paging">
SELECT * FROM ( SELECT rownum rnum, B.* FROM (
<include refid="selectFAQ"/>
) B ORDER BY rnum DESC ) R WHERE R.rnum BETWEEN #{startNo } AND #{endNo } ORDER BY rnum DESC
</select>
<select id="selectFAQCntAll" resultType="int">
SELECT COUNT(*) CNT FROM (
<include refid="selectFAQ"/>
) CNT
</select>

<insert id="insertFAQ"  parameterType="web.dto.FAQ">
	<selectKey keyProperty="faqNo" resultType="int" order="BEFORE">
		SELECT faq_seq.nextval FROM DUAL
	</selectKey>
	INSERT INTO faq (faqNo ,
						userId ,
						question ,
						answer ,
						writtenDate
						)
		VALUES (#{faqNo} , #{userId} , #{question} , #{answer} , sysdate)				
</insert>

<select id="selectFAQ" resultType="web.dto.FAQ">
	SELECT * FROM faq WHERE faqNo = #{faqNo}
</select>

<update id="updateFAQ"  parameterType="web.dto.FAQ">
	UPDATE faq SET question=#{question} , answer=#{answer}
	WHERE faqNo = #{faqNo} AND userId = #{userId}
</update>

<delete id="deleteFAQ" parameterType="web.dto.FAQ">
	DELETE FROM faq WHERE faqNo = #{faqNo}
</delete>

</mapper>















