<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="web.dao.face.MemberDao">

 	<insert id="insertUser" parameterType="web.dto.Member">
 		INSERT INTO member (userId, roleId, password, email, telcom, contact, userName)
 		VALUES ( #{userId }, #{roleId }, #{password }, #{email }, #{telcom }, #{contact }, #{userName })
 	</insert>
 	
 	<insert id="insertBar" parameterType="web.dto.Bar">
 		INSERT INTO bar (barNo, barName, userId, profileNo, locationNo, barInfo, manager, barAddress, genreNo)
 		VALUES ( barNo_seq.nextval, #{barName }, #{userId }, #{profileNo }, #{locationNo }, #{barInfo }, #{manager }, #{barAddress }, #{genreNo })
 	</insert> 
 	
 	<insert id="insertBand" parameterType="web.dto.Band">
 		INSERT INTO band (bandNo, bandName, userId, profileNo)
 		VALUES ( band_seq.nextval, #{bandName }, #{userId }, #{profileNo })
 	</insert>
 	
 	<insert id="insertBandGenre" parameterType="web.dto.BandGenre">
 		INSERT INTO bandGenre (bandNo, genreNo)
 		VALUES ( #{bandNo }, #{genreNo })
 	</insert>
 	
 	<insert id="insertBandMember" parameterType="web.dto.BandMember">
 		INSERT INTO bandMember (bandMemberNo, bandMemName, mPosition, bandNo)
 		VALUES (bandMember_seq.nextval, #{bandMemName }, #{mPosition }, #{bandNo })
 	</insert>
 	
 	<select id="checkJoinId" parameterType="web.dto.Member" resultType="int">
 		SELECT COUNT(*)
 		FROM member
 		WHERE 1=1
 			AND userId=#{userId }
 	</select>
 	
 	<select id="checkJoinUserName" parameterType="web.dto.Member" resultType="int">
 		SELECT COUNT(*)
 		FROM member
 		WHERE 1=1
 			AND userName=#{userName }
 	</select>
 	
 	<select id="checkJoinContact" parameterType="web.dto.Member" resultType="int">
 		SELECT COUNT(*)
 		FROM member
 		WHERE 1=1
 			AND contact=#{contact }
 	</select>
 	
 	<select id="checkBarName" parameterType="web.dto.Bar" resultType="int">
 		SELECT COUNT(*)
 		FROM bar
 		WHERE 1=1
 			AND barName=#{barName }
 	</select>
 	
 	<select id="checkBarManager" parameterType="web.dto.Bar" resultType="int">
 		SELECT COUNT(*)
 		FROM bar
 		WHERE 1=1
 			AND manager=#{manager }
 	</select>
 	
 	<select id="checkBarAddress" parameterType="web.dto.Bar" resultType="int">
 		SELECT COUNT(*)
 		FROM bar
 		WHERE 1=1
 			AND barAddress=#{barAddress }
 	</select>
 	
 	<select id="checkBandName" parameterType="web.dto.Band" resultType="int">
 		SELECT COUNT(*)
 		FROM band
 		WHERE 1=1
 			AND bandName=#{bandName }
 	</select>
 	
 	<select id="selectCntLogin" parameterType="web.dto.Member" resultType="int">
 		SELECT COUNT(*) CNT
 		FROM member
 		WHERE 1=1
 		
 			<if test="userId != null and userId != ''">
 				AND userId=#{userId }
 			</if>
 			<if test="password != null and password != ''">
 				AND password=#{password }
 			</if>
 	</select>
 	
 	<select id="checkLoginInfo" parameterType="web.dto.Member" resultType="web.dto.Member">
 		SELECT
 			userId,
 			roleId,
 			password,
 			email,
 			telcom,
 			contact,
 			userName
 		FROM member
 		WHERE userId=#{userId }
 			AND password=#{password }
 	</select>
 	
 	<select id="selectUserId" parameterType="web.dto.Member" resultType="int">
 		SELECT COUNT(*) CNT
 		FROM (
 			SELECT userId
	 		FROM member
	 		WHERE email=#{email }
	 			AND telcom=#{telcom }
	 			AND contact=#{contact }
 		) 		
 	</select>
 	
 	<select id="getUserId" parameterType="web.dto.Member" resultType="web.dto.Member">
 	 	SELECT  			
 	 		userId,
 			roleId,
 			password,
 			email,
 			telcom,
 			contact,
 			userName
	 	FROM member
	 	WHERE email=#{email }
	 		AND telcom=#{telcom }
	 		AND contact=#{contact }
 	</select>
 	
 	<select id="selectUserPw" parameterType="web.dto.Member" resultType="int">
 		SELECT COUNT(*) CNT
 		FROM (
 		 	SELECT password
 			FROM member
 			WHERE userId=#{userId }
 				AND email=#{email }
 		)
 	</select>
 	
 	<select id="getPassword" parameterType="web.dto.Member" resultType="web.dto.Member">
 		SELECT 
 	 		userId,
 			roleId,
 			password,
 			email,
 			telcom,
 			contact,
 			userName
 		FROM member
 		WHERE userId=#{userId }
 			AND email=#{email }
 	</select>
 	
 	<select id="selectRoleId" parameterType="web.dto.Member" resultType="int">
 		SELECT roleId
 		FROM member
 		WHERE userId=#{userId }
 			AND password=#{password }
 	</select>
 	
 	<insert id="insertProfilePic" parameterType="web.dto.ProfilePic">
	 	<selectKey keyProperty="profileNo" resultType="int" order="BEFORE">
	<!--          select dept_seq.nextval from dual -->
	         select * from (
	         select NVL(max(profileNo)+1, 1) from profilePic
	         order by profileNo desc
	         )
	         where rownum = 1
	<!--          select max(no)+1 no from test_member -->
	      </selectKey>
 	
 		INSERT INTO profilePic (profileNo, path, originName, storedName)
 		VALUES (#{profileNo }, #{path }, #{originName }, #{storedName }) 
 	</insert>
 	
 	<select id="selectProfileNo" parameterType="String" resultType="int">
 		
 		select * from (
	         select NVL(max(profileNo), 1) from profilePic
	         order by profileNo desc
	         )
	         where rownum = 1
	         
<!--  		SELECT profileNo -->
<!--  		FROM profilePic -->
<!--  		WHERE storedName=#{profileName } -->
 	</select>
 	
 	<delete id="deleteMember">
 		DELETE
 		FROM member
 		WHERE userId=#{userId }
 	</delete>
 	
 	<delete id="deleteBar">
 		DELETE
 		FROM bar
 		WHERE userId=#{userId }
 	</delete>
 	
 	<delete id="deleteBand">
 		DELETE
 		FROM band
 		WHERE userId=#{userId }
 	</delete>
 	
 	<select id="checkBarInformation" parameterType="web.dto.Member" resultType="web.dto.Bar">
 		SELECT 
			barNo,
			barName,
			userId,
			profileNo,
			locationNo,
			barInfo,
			manager,
			barAddress,
			genreNo
 		FROM bar
 		WHERE userId=#{userId }
 	</select>
 	
 	<select id="checkBandInformation" parameterType="web.dto.Member" resultType="web.dto.Band">
 		SELECT 
			bandNo,
			bandName,
			userId,
			profileNo
 		FROM band
 		WHERE userId=#{userId }
 	</select>

	<delete id="deleteBarPic" parameterType="int">
 		DELETE
 		FROM profilePic
 		WHERE profileNo=#{barPicNo }
 	</delete>
 	
 	<delete id="deleteBandPic" parameterType="int">
 		DELETE
 		FROM profilePic
 		WHERE profileNo=#{bandPicNo }
 	</delete>
 	
 	<delete id="deleteBarApp" parameterType="web.dto.Bar">
 		DELETE
 		FROM application
 		WHERE barName = #{barName }
 	</delete>
 	
 	<delete id="deleteBarCal" parameterType="web.dto.Bar">
 		DELETE
 		FROM calendar
 		WHERE barNo = #{barNo }
 	</delete>
 	
 	<delete id="deleteBandMember" parameterType="web.dto.Band">
 		DELETE
 		FROM bandMember
 		WHERE bandNo = #{bandNo }
 	</delete>
	
	<delete id="deleteCollab" parameterType="web.dto.Band">
		DELETE
		FROM collaboration
		WHERE bandNo = #{bandNo }
	</delete>
	
	<delete id="deleteAdvertise" parameterType="web.dto.Band">
		DELETE
		FROM advertise
		WHERE bandNo = #{bandNo }
	</delete>
	
	<delete id="deleteFindMember" parameterType="web.dto.Band">
		DELETE
		FROM findMember
		WHERE bandNo = #{bandNo }
	</delete>
	
	<delete id="deleteMusic" parameterType="web.dto.Band">
		DELETE
		FROM music
		WHERE bandNo = #{bandNo }
	</delete>

	<delete id="deleteResume" parameterType="web.dto.Band">
		DELETE
		FROM resumes
		WHERE bandNo = #{bandNo }
	</delete>
	
	<delete id="deleteBandCal" parameterType="web.dto.Band">
		DELETE
		FROM calendar
		WHERE bandNo = #{bandNo }
	</delete>
 	
 </mapper>