<?xml version="1.0" encoding="UTF-8"?>

<!--  마이바티스 3 매퍼 Doctype -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--  매퍼 설정 -->
<mapper namespace="web.dao.face.MypageDao">

	<select id="selectInfoByUserId"
	parameterType="web.dto.Member"
	resultType="web.dto.Member">
		select
			*
		from member
		where userId = #{userId }
	</select>
	
	<update id="updateInfo"
	parameterType="web.dto.Member">
		update member set email=#{email }, telcom=#{telcom }, contact=#{contact }
		where userid = #{userId }
	</update>
	
	<update id="updatePw"
	parameterType="web.dto.Member">
		update member set password=#{password }
		where userid = #{userId }
	</update>
	
</mapper>