<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.NoticeDao">

<sql id="selectNotice">
SELECT noticeNo, title, userId, content, writtenDate FROM notice
<where>
<if test="search != null and search != '' and searchVal == ('title')"> 
	 title LIKE '%' || #{search} || '%'
</if>
<if test="search != null and search != '' and searchVal == ('content')">
	AND content LIKE '%' || #{search} || '%'
</if>
<if test="search != null and search != '' and searchVal == ('userId')">
	AND userId LIKE '%' || #{search} || '%'
</if>
</where>
</sql>
<select id="selectPagingList" resultType="web.dto.Notice" parameterType="web.utils.Paging">
SELECT * FROM ( SELECT rownum rnum, B.* FROM (
<include refid="selectNotice"/>
)
B ORDER BY noticeNo DESC ) R WHERE R.rnum BETWEEN #{startNo } AND #{endNo } ORDER BY rnum
</select>
<select id="selectNoticeCntAll" resultType="int" parameterType="web.utils.Paging">
SELECT COUNT(*) CNT FROM (
<include refid="selectNotice"/>

) CNT
</select> 

<!-- <select id="selectNoticeCntAll" resultType="int">
	SELECT COUNT(*) CNT FROM notice
</select> -->

<insert id="insertNotice"  parameterType="web.dto.Notice">
	<selectKey keyProperty="noticeNo" resultType="int" order="BEFORE">
		SELECT notice_seq.nextval FROM DUAL
	</selectKey>
	INSERT INTO notice (noticeNo ,
						title ,
						userId ,
						content ,
						writtenDate
						)
		VALUES (#{noticeNo} , #{title} , #{userId} , #{content} , sysdate)				
</insert>

<select id="selectNotice" resultType="web.dto.Notice">
	SELECT * FROM notice WHERE noticeNo = #{noticeNo}
</select>

<update id="updateNotice" parameterType="web.dto.Notice">
	UPDATE notice SET title=#{title} ,content=#{content}
	WHERE noticeNo=#{noticeNo} AND userId=#{userId}

</update>

<delete id="deleteNotice" parameterType="web.dto.Notice">
	DELETE FROM notice WHERE noticeNo = #{noticeNo}
	</delete>
</mapper>















