<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.NoticeDao">
<resultMap type="web.dto.Notice" id="Notice">
</resultMap>
<sql id="selectNotice">
SELECT noticeNo, title, userId, content, write_date FROM notice
</sql>
<select id="selectPagingList" resultMap="Notice" parameterType="web.utils.Paging">
SELECT * FROM ( SELECT rownum rnum, B.* FROM (
<include refid="selectNotice"/>
) B ORDER BY noticeNo DESC ) R WHERE R.rnum BETWEEN #{startNo } AND #{endNo } ORDER BY rnum
</select>
<select id="selectCntAll" resultType="int">
SELECT COUNT(*) CNT FROM (
<include refid="selectNotice"/>
) CNT
</select>

<insert id="insert"  parameterType="web.dto.Notice">
	INSERT INTO board (noticeNo ,
						TITLE ,
						userId ,
						CONTENT ,
						writtenDate
						)
		VALUES (notice_seq.nextval , #{title} , #{userId} , #{CONTENT} , sysdate)				
</insert>

</mapper>















