<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.NoticeDao">

<sql id="selectNotice">
SELECT noticeNo, title, userId, content, writtenDate FROM notice
</sql>
<select id="selectPagingList" resultType="web.dto.Notice" parameterType="web.utils.Paging">
SELECT * FROM ( SELECT rownum rnum, B.* FROM (
<include refid="selectNotice"/>
) B ORDER BY noticeNo DESC ) R WHERE R.rnum BETWEEN #{startNo } AND #{endNo } ORDER BY rnum
</select>
<select id="selectNoticeCntAll" resultType="int">
SELECT COUNT(*) CNT FROM (
<include refid="selectNotice"/>
) CNT
</select>

<insert id="insertNotice"  parameterType="web.dto.Notice">
	<selectKey keyProperty="noticeNo" resultType="int">
		SELECT notice_seq.nextval FROM DUAL
	</selectKey>
	INSERT INTO notice (noticeNo ,
						title ,
						userId ,
						content ,
						writtenDate
						)
		VALUES (#{noticeNo} , #{title} , #{userId} , #{content} , sysdate)				
</insert>

<select id="selectNotice" resultType="web.dto.Notice">
	SELECT * FROM notice WHERE noticeNo = #{noticeNo}
</select>

</mapper>















